@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background: linear-gradient(to right, bisque, whitesmoke);
    height: 10vh;
}

.title{
    padding: 10px 0;
    text-align: center;
    color: darkslategrey;
    font-family: 'Cedarville Cursive', cursive;
}

#mapid{
    height: 80vh;
}

.agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.agenda__content{
    justify-content: center;
    margin: 10px;
}
.agenda__content p {
    text-align: center;
}

